/*
Syntax error: File to import not found or unreadable: compass/css3.
              Load path: /Users/haowei/Projects/ruby/scripts/chsource (DEPRECATED)
        on line 2 of sass/styles.scss

1: @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
2: @import 'compass/css3';
3: 
4: html {
5:   background:#6C7989;
6:   @include background(#6C7989 linear_gradient(#6C7989, #434B55) fixed);
7: }

Backtrace:
sass/styles.scss:2
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/import_node.rb:67:in `rescue in import'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/import_node.rb:45:in `import'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/import_node.rb:28:in `imported_file'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/import_node.rb:37:in `css_import?'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:99:in `block in visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/stack.rb:79:in `block in with_base'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/stack.rb:106:in `with_frame'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/stack.rb:79:in `with_base'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:99:in `visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:108:in `block in visit_children'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:120:in `with_environment'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:107:in `visit_children'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:127:in `visit_root'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:99:in `block in visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/stack.rb:79:in `block in with_base'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/stack.rb:106:in `with_frame'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/stack.rb:79:in `with_base'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:99:in `visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/visitors/perform.rb:7:in `visit'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/root_node.rb:36:in `css_tree'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/engine.rb:360:in `_render_with_sourcemap'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/engine.rb:291:in `render_with_sourcemap'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/plugin/compiler.rb:337:in `update_stylesheet'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/plugin/compiler.rb:191:in `block in update_stylesheets'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/plugin/compiler.rb:188:in `each'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/plugin/compiler.rb:188:in `update_stylesheets'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/plugin/compiler.rb:223:in `watch'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/plugin.rb:107:in `method_missing'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/exec.rb:490:in `watch_or_update'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/exec.rb:335:in `process_result'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/exec.rb:41:in `parse'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/lib/sass/exec.rb:21:in `parse!'
/opt/boxen/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.231/bin/sass:9:in `<top (required)>'
/opt/boxen/rbenv/versions/2.0.0-p195/bin/sass:23:in `load'
/opt/boxen/rbenv/versions/2.0.0-p195/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3.\A               Load path: /Users/haowei/Projects/ruby/scripts/chsource (DEPRECATED)\A         on line 2 of sass/styles.scss\A \A 1: @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);\A 2: @import 'compass/css3';\A 3: \A 4: html {\A 5:   background:#6C7989;\A 6:   @include background(#6C7989 linear_gradient(#6C7989, #434B55) fixed);\A 7: }"; }
